* {
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* .justify-content {
  justify-content: center;
} */

.navbar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  border-bottom: 4px black;
}

ul {
  justify-content: flex-end;
  display:flex;
  flex-direction: row;
  list-style-type: none;
  margin-right: 15px;
}

li {
  margin: 10px;
}

.name {
  padding-left: .8em;
  color:black;
}
span {
  color: blue ;
}

.hero {
  text-align: center;
  padding-bottom: 20em;
  padding-top: 20em;
  color: #f2f2f2
}

.home h1 {
  font-size: 4em;
  line-height: 1.3em;
  font-weight: bolder;
  text-transform: uppercase;
 
}

.home p {
  font-size: 1.4em;
}


/* 

}
#About {
  display: flex;
  position: relative;
  width:100%;
  background-color: crimson;
  top: 0;
  left: 0;
}

.home {
  border-bottom: 2px
}

.home h1{
  display: flex;
  position: relative;
  display: block;
}
section h1 {
  position: absolute;

}
#ids {
  position:relative;
  left: 20%;
} */
.img {
  background-image: url("image_01.jpeg"); 
}

