* {
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  border-bottom: 4px black;
}

ul {
  justify-content: flex-end;
  display:flex;
  flex-direction: row;
  list-style-type: none;
  margin-right: 15px;
}

li {
  margin: 10px;
}

.name {
  padding-left: .8em;
  color:black;
}
span {
  color: blue ;
}

.hero {
  text-align: center;
  padding-bottom: 20em;
  padding-top: 20em;
  color: #f2f2f2
}

.home h1 {
  font-size: 4em;
  line-height: .8em;
  font-weight: bolder;
  text-transform: uppercase;
 
}

.home p {
  font-size: 1.4em;
  color: black;
  font-weight: bold;
}

main {
  text-align: center;
  line-height: 3em;
  color: #20272e;
}

.section_1 {
  width: 50%;
  display:flex;
  flex-direction: column;
}

.texts {
  margin-top: 3em;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
}

article h2 {
  font-size: 2em;
}

.img {
  background-image: url("image_01.jpeg"); 
  padding-bottom: 7.5em;
}

#name {
  width: 20%;
  height: 25px;
}

.contacts {
  justify-content: space-between;
  display: flex;
  margin-top: 2em;
} 
